{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "functional", "sonarjs"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:sonarjs/recommended",
    "plugin:functional/all",
    "plugin:functional/external-recommended"
  ],
  "rules": {
    "complexity": ["error", 3],
    "sonarjs/cognitive-complexity": ["error", 2],
    "functional/functional-parameters": "off",
    "object-shorthand": ["error", "always"],
    "arrow-body-style": ["error", "as-needed"]
  },
  "overrides": [
    {
      "files": ["**/*test.ts"],
      "rules": {
        "functional/no-expression-statement": "off",
        "functional/functional-parameters": "off",
        "functional/no-return-void": "off",
        "sonarjs/no-duplicate-string": "off",
        "@typescript-eslint/prefer-readonly-parameter-types": "off"
      }
    }
  ]
}
